body,
h1 {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
}
h2{
    font-family: "Poppins", sans-serif;
    font-size: 38px;
}

h3,
h4,
h5 {
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 16px;
}

/* Center all elements */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Style the buttons */
.btn {
    background-color: #8db8da;
    color: black;
    padding: 10px 16px;
    margin: 8px 4px;
    border: none;
    cursor: pointer;
    width: 200px;
    border-radius: 4px;
    font-size: 14px;
}

.btn:hover {
    background-color: #6b9dbb;
}

/* Style the buttons inside centered-buttons2 */
.centered-buttons2 .btn {
    background-color: #8db8da;
    color: black;
    padding: 10px 16px;
    margin: 8px 4px;
    border: none;
    cursor: pointer;
    width: 200px;
    border-radius: 4px;
    font-size: 14px;
}

.centered-buttons2 .btn:hover {
    background-color: #6b9dbb;
}

/* Style the alert boxes */
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 70%;
    margin: auto;
}
.alert2 {
    padding: 20px;
    background-color: lightgreen;
    color: white;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 70%;
    margin: auto;
}

/* Center the form inputs */
.form-group {
    text-align: left;
    width: 70%;
    margin: auto;
}

/* Adjust margin for the top button */
.container:first-child {
    margin-top: 100px;
}

/* Center the password generator form */
#passwordGeneratorForm {
    text-align: center;
    width: 70%;
    margin: auto;
}

/* Center the password strength message */
#strength-message {
    text-align: center;
    margin-top: 10px;
}
/* Center the buttons inside password generator form */
#passwordGeneratorForm .btn {
    margin-top: 10px;
}
.strength-message {
    margin-left: 10px;
}

.strength-message.weak {
    color: red;
}

.strength-message.medium {
    color: orange;
}

.strength-message.strong {
    color: green;
}

.input-container {
    display: flex;
    align-items: center; /* Vertically center contents */
}

.input-container input[type='password'] {
    flex: 1; /* Grow to fill available space */
    margin-right: 5px; /* Adjust margin between input field and button */
}