body {
    background-color: lightgray; /* Set the background color to light gray */
}

h1 {
    font-family: sans-serif;
    color: black;
    text-align: center;
    background-color: darkgray;
    border: 3px solid black;
}

nav.navbar {
    text-align: center;
}

.center-icon {
    display: block;
    margin: 0 auto;
    max-width: 15%; /* Adjust the size as needed */
    padding: 5px; /* Add padding to create space around the logo */
}

#searchForm {
    display: flex; /* Make the form elements inline */
    justify-content: space-between; /* Distribute elements evenly with space between */
    align-items: center; /* Vertically align elements at the center */
}

.button-container {
    display: flex;
    justify-content: center;
}

.centered-buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.centered-buttons button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.centered-buttons2 {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.centered-buttons button:hover {
    background-color: #333;
}

#searchInput {
    display: block;
    margin: 0 auto;
    width: 300px;
}

footer {
    text-align: right;
    padding: 10px;
}

.btn-custom {
    background-color: black;
    color: rgb(8, 8, 8);
}

.form-check-input.custom-checkbox {
    background-color: gray;
}

.form-check-input.custom-checkbox:checked {
    background-color: black;
}
 
table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 25%;
  }

.update-warning hidden {
    display: none;
}